{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
    
    <style>
    .container {
    background-color: #6abbe1ac;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
    </style>
</head>
<body style="background-image: url(https://img.freepik.com/free-vector/futuristic-background-design_23-2148503793.jpg); background-repeat: no-repeat; background-size: cover;">
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #2a54ec;">
        <img src="{% static 'images/2.png' %}" style="height: 70px; width: 70px; margin-left: 10px;">
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active" style="margin-left: 500px;">
                    <a class="nav-link" href="../">Home </a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="../about" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="../admin">Action 1</a>
                        <a class="dropdown-item" href="../manager">Action 2</a>
                        <a class="dropdown-item" href="../cook">Action 3</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../contact">Contact</a>
                </li>
                <button style="border: deepskyblue; background-color: rgb(66, 152, 238); -webkit-text-fill-color: black; margin-left: 500px;">
                <li class="nav-item">
                    <a class="nav-link" href="../login">Login </a>
                </li>
            </button>
        </div>
    </nav>
    <br>
    <div style="display: flex;">
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQqU-usLoUv537kWdcJmUSMj6kyCAFDXMy4g&s" style=" height: 300px; margin-left: 300px;">
        </div>
    <div class="container" style="margin-left: -20px;">
        <h2 style="text-align: center;">Login:</h2>
        <h4>{{message}} </h4>
        <form action="../login/" method="POST" style="text-align: center;">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div><br>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required style="margin-left: 5px;">
            </div>
            <a href="../forgot" style="margin-left: 150px;">forgot password?</a>
            <br>
            <div class="form-group">
                <button type="submit" style="margin-left: 120px; margin-top: 10px; margin-right: 130px;">Login</button>
            </div>
        </form>
        <p style="text-align: center;">Don't have an account?<a href="../registration">  Registerhere!</a></p>
    </div>
</div>
    <br><br>
    <div style="display: flex;margin-top: 30px;">
        <div style="height: 250px;width: 33.3%;background-color: rgb(20, 85, 248);border: 1px solid black;">
            <img src="{% static 'images/2.png' %}" style="height: 200px;width: 75%;margin-top: px;margin-left: 30px;">
            <h4 style="text-align: center;">VOLA'S Kitchen</h4>
        </div>
        <div style="height: 250px;width: 33.3%;background-color: rgb(20, 85, 248); text-align: center;border: 1px solid black;">
            <h3 style="text-decoration: underline;margin-top: 20px;margin-bottom: px;">MENU</h3>
            <p>Home <br> About <br>Services <br> Gallery <br> Contact  <br> Login </p>
           
    
         
        </div>
        <div style="height: 250px;width: 33.3%;background-color: rgb(20, 85, 248);border: 1px solid black;" >
            <center>
            <h3 style="margin-top: 20px;text-decoration: underline;">Subscribe </h3>
            <form> 
                <input type="text" placeholder="Enter your name" style="margin-top: 20px;height: 30px;width: 200px;"><br> <br>
                <input type="email" placeholder="Enter your email id" style="height: 30px;width: 200px;"><br>
                <button style="background-color: rgb(96, 215, 245);height: 30px;width: 70px; margin-top: 30px;">Submit</button>
            </form>
            </center>
    
    
        </div>
</body>
</html>