{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body style="background-image: url(../../static/images/aksbbg.webp);background-size: contain;background-repeat: no-repeat; background-size: cover;">
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #88c9f8;">
        <img src="{% static 'images/2-removebg-preview.png' %}" style="height: 120px;width: 180px;">
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
       <!-- Button trigger modal -->
       <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modelId" style="margin-left: 80%;">
         Logout
       </button>
       
       <!-- Modal -->
       <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: rgb(175, 248, 238);">
                <div class="modal-header">
                    <h5 class="modal-title">Logout</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    Are you sure, you wanna logout?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-success">Yes</button>
                </div>
            </div>
        </div>
       </div>
    </nav><br>
    <div style="display: flex; ">
    <div>
        <img src="{% static 'images/aksbg.jfif' %}" style="height: 490px;margin-left: 320px;">
    </div>
    <div class="container" style=" background-color: #eb6969c2;
    padding: 20px;
    border-radius: px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; margin-left: -0px;">
        <h2 style="text-decoration: underline ;">ADD KITCHEN STAFF</h2><br>
        <h4>{{message}} </h4>
        <form action="../maddkitchenstaff/{{user.username}}" method="POST"> 
            {% csrf_token %}
            <div>
            <div>
                <label for="name"> First Name:</label>
                
                <input type="text" id="name" placeholder="Enter First Name" name='firstname' required style="margin-left: 33px; ">
                
            </div><br>
            <div>
                <label for="name"> Last Name:</label>
                
                <input type="text" id="name" placeholder="Enter Last Name " name='lastname'required style="margin-left: 35px;">
                
            </div><br>
            <div>
                <label for="name">User Name:</label>
                
                <input type="text" id="name" placeholder="Enter User Name " name="username" required style="margin-left: 30px;">
                
            </div><br>
            <div>
                <label for="email">Email:</label>
            
                <input type="email" id="email" placeholder="Enter Email " name='email' required style="margin-left: 70px;">
        
            </div> <br>
            <div>
                <label for="number">Contact number:</label>
    
                <input type="text" placeholder=" Enter Contact Number" pattern="[7-9]{1}[0-9]{9}" 
                 title="Phone number with 7-9 and remaing 9 digit with 0-9" name="contactnumber" required >
                
            </div> <br>
            <div>
                <label for="name"> Address:</label>
                
                <input type="text" id="name" placeholder="Enter Address" name= 'address' required style="margin-left: 52px;">
                
            </div> <br>
            
            
            <input type="submit" value="Add kitchen staff" style="background-color: rgb(166, 213, 245); border-radius: 10px; margin-left: 110px;">
        </form>
   
    </div>
    </div> 
</div>
    <div style="display: flex;margin-top: 30px;">
        <div style="height: 150px;width: 66.7%;background-color: #88c9f8; text-align: center;">
           <p style="padding: 60px;text-shadow: whitesmoke; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 25; "><b>Copyrights issued by: RavitejaShanigaram</b></p>
           
    
         
        </div>
        <div style="height: 150px;width: 33.3%;background-color:  #88c9f8;" >
           
            <img src="{% static 'images/2-removebg-preview.png' %}" style="height: 160px; width: 220px; margin-left: 200px;">
           
    
    
        </div>
    </div>
</body>
</html> 