{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">

</head>
<body style="background-image: url(https://media.istockphoto.com/id/1426479465/vector/tableware-seamless-pattern-fork-knife-spoon-plate-glass-straw-eating-drinking-background.jpg?s=612x612&w=0&k=20&c=aDjkyIu6rIcquHRPjgBBGCipEGXMKOExEd42EUmVuEc=);">
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #2a54ec;">
        <img src="{% static 'images/2.png' %}" style="height: 70px; width: 70px; margin-left: 10px;">
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active" style="margin-left: 500px;">
                    <a class="nav-link" href="../">Home </a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="../about" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="../admin">Action 1</a>
                        <a class="dropdown-item" href="../manager">Action 2</a>
                        <a class="dropdown-item" href="../cook">Action 3</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../contact">Contact</a>
                </li>
                <button style="border: deepskyblue; background-color: rgb(66, 152, 238); -webkit-text-fill-color: black; margin-left: 500px;">
                <li class="nav-item">
                    <a class="nav-link" href="../login">Login </a>
                </li>
            </button>
        </div>
    </nav>
 <div ><div class="form-group">

 </div></div><br>
 <div style="display: flex;">
 <div>
    <img src="https://static.vecteezy.com/system/resources/thumbnails/009/690/713/small_2x/white-notepad-and-ink-pen-on-the-wooden-desk-register-now-concept-photo.jpg" style="height: 600px; width: 600px; margin-left: 250px;" >
 </div>
 <div class="container" style="margin-left: -30px;">
    <h2>REGISTRATION FORM</h2><br>
    {% if messages %}
                {% for message in messages%}
                    <h1>{{message}}</h1>
                {% endfor %}
            {% endif %} 
    <form action="../registration/" method="POST"> 
        {% csrf_token %}
		<div><center>
            <label  style="color: rgba(18, 19, 19, 0.966); font-size: 16px;  margin-left: -10px; ">User Type:</label>
            <select style="width: 42%; height: 30px; margin-left: 50px;" name="usertype">
              <option value="null" >Select Usertype</option>
              <option value="Teja" >Manager</option>
              <option value="Tarun">Cloud Kitchenstaff</option>
            </select>
            <br><br>

		<div>
			<label for="name">Name:</label>
			
			<input type="text" id="name" placeholder="Enter your Name" name="firstname" required style="margin-left: 70px;">
			
		</div><br>
        <div>
			<label for="name">User Name:</label>
			
			<input type="text" id="name" placeholder="Enter User Name " name="username" required style="margin-left: 30px;">
			
		</div><br>
		<div>
			<label for="email">Email:</label>
		
			<input type="email" id="email" placeholder="Enter Email " name="email" required style="margin-left: 70px;">
	
		</div> <br>
        <div>
			<label for="number">Contact number:</label>

			<input type="text" placeholder=" Enter Contact Number" pattern="[7-9]{1}[0-9]{9}" 
       title="Phone number with 7-9 and remaing 9 digit with 0-9" name="contactnumber" required >
			
		</div> <br>
        <div>
			<label for="name"> Address:</label>
			
			<input type="text" id="name" placeholder="Enter Address" name="address" required style="margin-left: 60px;">
			
		</div> <br>
		<div>
			<label for="password">Create Password:</label>
			
			<input type="password" id="password" placeholder="Enter Password"  name="createpassword" required style="margin-left: 5px;">
			
		</div> <br>
        <div>
			<label for="password">Confirm Password:</label>
			
			<input type="password" id="password" placeholder="Enter Password"  name="confirmpassword" required >
			
		</div> <br>
		<input type="submit" value="Register" style="background-color: rgb(98, 183, 239);">
	</form>
</center>
</div>
</div> 
</div>
<div style="display: flex;margin-top: 30px;">
    <div style="height: 250px;width: 33.3%;background-color: rgb(20, 85, 248);border: 1px solid black;">
        <img src="{% static 'images/2.png' %}" style="height: 200px;width: 75%;margin-top: px;margin-left: 30px;">
        <h4 style="text-align: center;">VOLA'S Kitchen</h4>
    </div>
    <div style="height: 250px;width: 33.3%;background-color: rgb(20, 85, 248); text-align: center;border: 1px solid black;">
        <h3 style="text-decoration: underline;margin-top: 20px;margin-bottom: px;">MENU</h3>
        <p>Home <br> About <br>Services <br> Gallery <br> Contact  <br> Login </p>
       

     
    </div>
    <div style="height: 250px;width: 33.3%;background-color: rgb(20, 85, 248);border: 1px solid black;" >
        <center>
        <h3 style="margin-top: 20px;text-decoration: underline;">Subscribe </h3>
        <form> 
            <input type="text" placeholder="Enter your name" style="margin-top: 20px;height: 30px;width: 200px;"><br> <br>
            <input type="email" placeholder="Enter your email id" style="height: 30px;width: 200px;"><br>
            <button style="background-color: rgb(96, 215, 245);height: 30px;width: 70px; margin-top: 30px;">Submit</button>
        </form>
        </center>


    </div>
    
</body>
</html>